.button-vk {
  position: relative;
  display: block;
  margin: 0;
  margin-left: -70px;
  padding: 0;
  padding-top: 13px;
  width: 70px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #6b737a;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -30px;
    width: 25px;
    height: 25px;
    background-color: #0269b7;
    border-radius: 3px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: -26px;
    width: 26px;
    height: 15px;
    background-image: url("../img/vk.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover .button-vk__name-vk {
    text-decoration: underline;
  }

  &:active .button-vk__name-vk {
    text-decoration: none;
  }

  &--footer {
    margin-left: 35px;
    color: #ffffff;

    &::before {
      left: -35px;
    }

    &::after {
      left: -31px;
    }
  }
}

.button-vk__name--vk {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .button-vk {
    margin-left: 35px;
  }
}
